# <center> Assignment #2.
## <center>  Data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the dataset

In [12]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_csv('data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [14]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [15]:
age = data[data['sex'] == "Female"]
print(age["age"].mean())

36.85823043357163

**3. What is the proportion of German citizens (*native-country* feature)?**

In [16]:
citizen=data[data['native-country'] == "Germany"]["native-country"].count()  #count german citizens
total=data["native-country"].count()  #count total citizens
percentage=(citizen/total)*100    #find percentage
percentage #print percentage

0.42074874850281013

**4-5. What are mean value and standard deviation of the age of those who recieve more than 50K per year (*salary* feature) and those who receive less than 50K per year? **

In [18]:
#for less than 50K
print(" for less than 50K:")
print(data[data['salary']=="<=50K"]["age"].mean())

print("standard dev for less than 50K:")
print(data[data['salary']=="<=50K"]["age"].std())

#forgreater than 50K
print(" for more than 50K:")
print(data[data['salary']==">50K"]["age"].mean())
print("standard dev for more than 50K:")
print(data[data['salary']==">50K"]["age"].std())

 for less than 50K:
36.78373786407767
standard dev for less than 50K:
14.020088490824813
 for more than 50K:
44.24984058155847
standard dev for more than 50K:
10.51902771985177

**6. Is it true that people who receive more than 50k have at least high school education? (*education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [19]:
arr=[ "11th", "9th", "7th-8th", "12th","1st-4th", "10th",  "5th-6th", "Preschool"]
~data.loc[data['salary']==">50K"]["education"].isin(arr).all()

True

**7. Display statistics of age for each race (*race* feature) and each gender. Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [20]:
#race
race_describe=data.groupby("race").describe()

#gender 
sex_describe=data.groupby("sex").describe()

print("race_describe",race_describe,"\n gender_describe",sex_describe)

race_describe                         age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                 ... capital-loss          \
                     max    count           mean  ...          75%     max
race                                              ...
Amer-Indian-Eskimo  82.0    311.0  120831.147910  ...          0.0  1980.0
Asian-Pac-Islander  90.0   1039.0  159940.609240  ...          0.0  2457.0
Black               90.0   3124.0  228013.124200  ...          0.0  4356.0
Other               77.0    271.0  197124.191882  ...          0.0  2179.0
White               90.0  27816.0  187298.064280  ...          0.0  4356.0

                   hours-per-week                                         \
                            count       mean        std  min   25%   50%
race
Amer-Indian-Eskimo          311.0  40.048232  11.695364  3.0  40.0  40.0
Asian-Pac-Islander         1039.0  40.127045  12.556816  1.0  40.0  40.0
Black                      3124.0  38.422855  10.315646  1.0  37.0  40.0
Other                       271.0  39.468635  11.143755  5.0  36.0  40.0
White                     27816.0  40.689100  12.544796  1.0  40.0  40.0


                     75%   max
race
Amer-Indian-Eskimo  40.0  84.0
Asian-Pac-Islander  40.0  99.0
Black               40.0  99.0
Other               40.0  98.0
White               45.0  99.0

[5 rows x 48 columns]
 gender_describe             age                                                       fnlwgt  \
          count       mean        std   min   25%   50%   75%   max    count
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0  10771.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0  21790.0

                       ... capital-loss         hours-per-week             \
                 mean  ...          75%     max          count       mean
sex                    ...
Female  185746.311206  ...          0.0  4356.0        10771.0  36.410361
Male    191771.449013  ...          0.0  3770.0        21790.0  42.428086


              std  min   25%   50%   75%   max
sex
Female  11.811300  1.0  30.0  40.0  40.0  99.0
Male    12.119755  1.0  40.0  40.0  49.0  99.0

[2 rows x 48 columns]

**8. Among whom the proportion of those who earn a lot(>50K) is more: among married or single men (*marital-status* feature)? Consider married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [21]:
married=["Married-civ-spouse", "Married-spouse-absent","Married-AF-spouse"]
a=data[data['salary']==">50K"]["marital-status"].isin(married).value_counts()
if a[True]>a[False]:
    print("Married")
else:
    print("Bachelors")

Married

<=50K    7576
>50K     5965
Name: salary, dtype: int64

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours and what is the percentage of those who earn a lot among them?**

In [25]:
print("Maximum no. of hours a person works per week :")
print(data["hours-per-week"].max())

no_people=data[data["hours-per-week"]==data["hours-per-week"].max()].count().max()
print(no_people,"people work",data["hours-per-week"].max(),"hours")
maxhours_maxsal=(data[data["hours-per-week"]==data["hours-per-week"].max()]["salary"]==">50K").value_counts()
per=((maxhours_maxsal[True])/no_people)*100
print("percentage: ",per)

Maximum no. of hours a person works per week :
99
85 people work 99 hours
percentage:  29.411764705882355

**10. Count the average time of work (*hours-per-week*) those who earning a little and a lot (*salary*) for each country (*native-country*).**

In [27]:
for(country,salary),sub_df in data.groupby(["native-country","salary"]):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

? <=50K 40.16
? >50K 45.55
Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5